@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --body-bg: hsl(48, 71%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    --inactive-black: hsla(0, 0%, 0%, 0.5);
}

/* ------------------------------------------------------------------Default */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
    text-rendering: optimizeSpeed;
}

.body {
    min-height: 100svh;
    padding: 6rem 9.5rem 0;

    background-color: var(--body-bg);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 10rem;
    background: var(--dark-grayish-blue) content-box;
}

/* ------------------------------------------------------------------Header */

.header {
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 3.25rem;

    background-color: var(--off-white);
}

.header__logo-link {
    text-decoration: none;
}

.header__navigation {
    transition: background-color 500ms;
}

.header__navigation--active {
    pointer-events: all !important;
    background-color: var(--inactive-black) !important;
}

.header__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;

    transition: inset 500ms;
}

.header__list--active {
    inset: 0 0 0 auto !important;
}

.header__close-nav {
    position: absolute;
    inset: 2rem 2rem auto auto;

    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
}

.header__close-nav--active {
    visibility: visible;
    opacity: 1;
}

.header__close-img {
    display: block;
}

.header__link {
    display: inline-block;

    text-decoration: none;
    
    color: var(--dark-grayish-blue);

    transition: color 200ms;
}

.header__link:hover {
    color: var(--soft-red);
}

.header__hamburger-wrapper {
    display: none;

    cursor: pointer;
}

/* ------------------------------------------------------------------Main */

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5rem 2rem;
}

/* ------------------------------------------------------------------Content */

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-area: 1 / 1 / 1 / 3;
    gap: 2rem;
}

.content__img-wrapper {
    grid-area: 1 / 1 / 1 / 3;
}

.content__img {
    display: block;
    width: 100%;

    user-select: none;
    pointer-events: none;
}

.content__header {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1;
}

.content__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.content__p {
    line-height: 1.5;
    font-size: .95rem;

    color: var(--dark-grayish-blue);
}

.content__rm-btn {
    border: none;
    padding: 1rem 2rem;
    margin-top: 2rem;

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;

    background-color: var(--soft-red);
    color: var(--off-white);

    cursor: pointer;
    transition: background-color 100ms;
}

.content__rm-btn:hover {
    background-color: var(--very-dark-blue);
}

/* ------------------------------------------------------------------Aside Articles */

.articles {
    padding: 1.5rem;
    background-color: var(--very-dark-blue);
}

.articles__article {
    margin-block-start: 1.75rem;
}

.articles__article:nth-child(n):not(:last-child) {
    padding-block-end: 1.75rem;
    border-bottom: 1px solid var(--dark-grayish-blue);
}

.articles__main-header {
    font-size: 2.5rem;
    color: var(--soft-orange);
}

.articles__header-link {
    text-decoration: none;
}

.articles__header {
    margin-block-end: .6rem;
    letter-spacing: 1px;
    color: var(--off-white);

    transition: color 100ms;
}

.articles__header:hover {
    color: var(--soft-orange);
}

.articles__desc {
    padding-right: .3rem;

    font-size: .95rem;
    line-height: 1.65;

    color: var(--grayish-blue);
}

/* ------------------------------------------------------------------Bottom Line */

.bottom-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-area: 2 / 1 / 2 / 4;
}

.bottom-line__wrapper {
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.bottom-line__img {
    display: block;
    width: 100%;

    user-select: none;
    pointer-events: none;
}

.bottom-line__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .75rem;
}

.bottom-line__number {
    font-size: 2rem;
    font-weight: 700;
    color: var(--grayish-blue);
}

.bottom-line__header-link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.bottom-line__header {
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--very-dark-blue);

    transition: color 100ms;
}

.bottom-line__header:hover {
    color: var(--soft-red);
}

.bottom-line__desc {
    font-size: .95rem;
    line-height: 1.5;
    color: var(--dark-grayish-blue);
}

/* ------------------------------------------------------------------Media Queries */

@media screen and (max-width: 1400px) {
    .bottom-line__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        gap: 1.5rem;
    }

    .bottom-line__content {
        gap: .5rem;
    }

    .bottom-line__img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (max-width: 1250px) {
    .main {
        grid-template-columns: 1fr;
        gap: 4.5rem 0;
    }

    .content {
        grid-area: 1 / 1 / 1 / 3;
    }

    .bottom-line {
        grid-area: 3 / 1 / 3 / 3;
    }
}

@media screen and (max-width: 1000px) {
    .header__hamburger-wrapper {
        display: block;
    }

    .header__navigation {
        position: fixed;
        inset: 0;
        
        background-color: transparent;

        pointer-events: none;
    }

    .header__list {
        position: absolute;
        inset: 0 -100% 0 auto;
        width: 70%;
        gap: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        padding: 10rem 1.5rem;

        background-color: var(--body-bg);
    }

    .header__link {
        font-size: 1.25rem;
        color: var(--very-dark-blue);
    }
}

@media screen and (max-width: 800px) {
    .body {
        padding: 4rem 3rem 0;
    }

    .main {
        grid-template-rows: auto 1fr;
    }

    .content {
        grid-template-columns: 1fr;
        gap: 2rem 0;
    }

    .content__header {
        grid-area: 2 / 1 / 2 / 3;
    }
}

@media screen and (max-width: 600px) {
    .body {
        padding: 2rem 1rem 0;
    }

    .content__img-wrapper {
        aspect-ratio: 1;
    }

    .content__img {
        height: 100%;
        object-fit: cover;
    }

    .content__header {
        font-size: 2.5rem;
    }

    .content__p {
        line-height: 1.75;
    }

    .articles__main-header {
        font-size: 2rem;
    }

    .articles__desc {
        font-size: .9rem;
        padding-right: .4rem;
    }

    .bottom-line {
        grid-template-columns: 1fr;
    }

    .bottom-line__wrapper {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        gap: 1.5rem;
    }

    .bottom-line__desc {
        font-size: .85rem;
    }
}

/* ------------------------------------------------------------------Attribution */

.attribution {
    text-align: center;
    margin-top: 4.5rem;
    padding: 2rem;

    color: var(--grayish-blue);

    background-color: var(--very-dark-blue);

    cursor: default;
}

.attribution__link {
    text-decoration: none;
    font-weight: 800;

    color: var(--off-white);

    transition: color 100ms;
}

.attribution__link:hover {
    color: var(--soft-red);
}
